body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.imageCard {
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 16px 0px rgba(0,0,0,.5);
    margin: 16px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .imageCard img {
    width: 500px;
    height: 450px;
    object-fit: cover;
    
    
  }
  
  .imageCard button {
    display: block;
    width: 500px;
    height: 50px;
    margin: 0 auto;
    outline: none;
    border: none;
    padding: 0;
  }
  
  .pictureBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }